.loginPage{
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.googleLogin{
    position: absolute;
    bottom: 30px;
    order: 3;
}

.logo{
    width: 180px;
    height: 180px;
    margin-bottom: 20px;
    margin-top: 50%;
    order: 1;
}

.loginText{
    font-family: "Arial Rounded MT Bold", sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 100px;
    line-height: 100%;
    text-align: center;
    color: #4A53A7;
    order: 2;
}