.headTitle {
  font-family: "Helvetica", "Arial", sans-serif;
  color: #000000;
  font-size: 5vw;
  font-weight: bold;
}

.tripList {
  overflow-y: scroll;
  max-height: 71vh;
  border-radius: 1%;
  transition: all 0.5s ease;
}

.logOutButton{
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    position:absolute;
    top:0;
    right:0;

}

.addNewTrip {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  transition: all 0.5s ease;
}
